@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
/* Corpo do projeto */
a {
    color: black;
    text-decoration: none;
}

body {
    font-family: 'DM Sans', sans-serif;
}

i{
    color: black;
}

#corpo {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    border: solid black 1px;
}

/* barra superior */
#bar {
    padding: 0 20px 0 20px;
    height: 44px;
}

/* sinal */
#signal {
    display: flex;
    flex-direction: row;
    width: 16px;
    margin-top: 5px;
}
.signal-1{
    width: 3px;
    height: 8px;
    background-color:black;
    border-radius: 2px;
}

.signal-2{
    width: 3px;
    height: 10px;
    background-color:black;
    border-radius: 2px;
}
.signal-3{
    width: 3px;
    height: 12px;
    background-color:black;
    border-radius: 2px;
}
.signal-4{
    width: 3px;
    height: 14px;
    background-color:black;
    border-radius: 2px;
}

/* Classes do sinal de wifi */

.wifi-image {
  width: 20px;
  height: 20px;
}

/* Bateria*/

#battery {
    width: 22px;
    height: 12px;
    border: solid black 1px;
    margin-top: 7px;
    border-radius: 2px;
}

#inner-battery {
    width: 18px;
    height: 8px;
    background-color: black;
    margin-top: 1px;
    margin-left: 1px;
}
