.items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .card-images {
    width: 285px;
    height: 391px;
    flex: 0 0 auto;
    background-color: #e5e5e5;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
  }

  .scrolling-wrapper-flexbox-details {
    margin-left: 20px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    }
  
  .scrolling-wrapper-flexbox-details::-webkit-scrollbar {
    display: none;
  }

  .title-details-section {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }

  .gray {
      background-color: #f6f6f6;
  }

  .product-menu-item {
    width: 100px;
    height: 25px;
    border-radius: 10px;
    font-size: 18px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    padding-right: 2px;
    padding-left: 2px;
    color: black;
  }
  
  .product-menu-item:active {
      text-decoration: underline #0ACF83;
      color: black;
  }
  .shop-button {
      width: 320px;
      margin-left: auto;
      margin-right: auto;
  }

  .date-review {
      color: #7f7f7f;
  }

  .text-review {
      width: 330px;
      text-align: left;
  }

  .user-name {
      font-size: 18px;
  }

  .feature-title {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
  }

  .feature-text {
      font-size: 14px;
      line-height: normal;
  }

  .margem-aux {
      margin-bottom: 80px;
  }

  .avatar-review {
    width: 40px;
    height: 40px;
  }